  <h1 class="text-center">Ideas</h1>
  <% if @ideas.any? %>
    <% @ideas.each do |idea| %>
      <p><%= link_to idea.title, idea_path(idea.id) %> <%= idea.created_at.strftime('%y-%m-%d %H:%m') %></p>
      <p><%= idea.summary %></p> 
      <td><%= link_to 'Details', idea_path(idea) %></td><br><br>
      <!-- <td><%#= link_to 'Write a comment', new_idea_comment_path(idea) %></td> -->   
    <% end %>
  <% else %>
    Nothing yet
  <% end %>
  <%= link_to 'Create New Idea', new_idea_path, class: 'btn btn-info' %>